* { 
  font-family: 'Poppins', sans-serif;
}

.pri-bg-col {
  background-color: #2487CE !important;
}

.pri-text-col {
  color: #2487CE !important;
}

.pri-btn-col {
  border-color: #2487CE !important;
}


.sec-bg-col {
  background-color: #124265 !important;
}

.sec-text-col {
  color: #124265 !important;
}

.sec-btn-col {
  border-color: #124265 !important;
}


/* To remove the hamburger button style*/


.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  border: none;
}
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
  border: none;
}
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  border: none;
}
